@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

textarea:focus,
input:focus {
  outline: none;
}

input,
textarea {
  padding: 0.4em;
  border-radius: 0.4em;
  resize: none;
}

select {
  padding: 0.4em;
  border-radius: 0.4em;
}
